.event-details {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px 40px;
    background-color: #333;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.event-details h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #ffffff; /* belo zaglavje */
    border-bottom: 2px solid #555; /* svetla linija */
    padding-bottom: 10px;
    text-align: left;
}

.event-details p {
    font-size: 1.1rem;
    margin: 8px 0;
    color: #fff;
}

.event-details p span {
    font-weight: 600;
    color: #1a73e8;
    display: inline-block;
    width: 150px;
}

.event-details h2, ul{
    color: white;
}

.leave-btn{
    background-color: darkred;
    width: 100%;
    margin-top: 15px;
}
